body{
    background-color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

main{
    color: rgb(17, 17, 17);

}

h1{
    align-items: center;
    text-align: center;
}

button{
    color: rgb(0, 0, 0);
    background-color: rgb(138, 240, 177);
    padding: 10px;
    margin: auto;
    text-decoration: none;
    border-radius: 15px;
   
}

.logmenu{
    border-top: 3px solid rgba(0, 0, 0, 0.233);
    padding: 15px;
}

h2 p {
margin-left: 50px;
margin-right: 100px;

}